.sidebar{
    width: 15%;
    height: 100vh;
    background-color: white;
  position: fixed;
    top:0;
    padding-left : 2%;
    padding-top: 60px;
}




.shortcut-links img{
    width: 20px;
    margin-right: 20px;}
    
    .shortcut-links {
        font-size: 14px;
        color: #5a5a5a;
        font-weight: 500;
        width: fit-content;
        flex-wrap: wrap;
        display: flex;
        align-items: center ;
        margin-bottom: 10px;

    }

    .side-link{
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        flex-wrap: wrap;
        width: fit-content;
        cursor: pointer;
    }
    .sidebar hr{
        border: 0;
        height: 1px;
        background: #ccc;
        width:145%;
    }
    .subscribed-list h3{
        font-size: 13px;
        color: #5a5a5a;
        margin: 20px 0;
    }
    .subscribed-list img{
        width: 25px;
        border-radius: 50%;
        margin-right: 20px;
    }

.small-sidebar {
    width: 5%;}
    .small-sidebar p{
        display: none;
    }

    .side-link.active img {
        padding-bottom: 2px;
        border-bottom: 2px solid red;
    }
  @media(max-width: 900px){
    .sidebar{
        display:none
        
    }
}