
    .play-container{
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
 @media (max-width: 900px){
    .play-video{
        flex-basis: 100%;
    }
    .play-video iframe{
        width: 100%;
    }
    .vid-description{
        padding-left:0 ;
    }

    .play-video .play-video-info span{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}